{# expects: person object #}
<div class="person">
  {% if person.photo %}<img src="{{site.basePath}}/{{ person.photo }}" alt="{{ person.name }}"/>{% endif %}
  <p>
    <strong>{{ person.name }}</strong><br/>
    {{ person.affiliation }}
    {% if person.url %}
      <br/>
      <a href="{{ person.url }}" aria-label="{{ person.name }} website"><i class="fas fa-globe"></i></a>
    {% endif %}
  </p>
</div>
